.load-more{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    .load-more-btn{
      border: 2px solid $text-color;
      border-radius: 50%;
      padding: 5px;
      display: flex;
      cursor: pointer;
    }
}

