.verify {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  .verifyContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    h1 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: orange;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}
//make a mobile version
@media (orientation: portrait) {
  .verifyContainer {
    width: 80vw !important;
    button {
      padding: 1vmax !important;
      width: 100% !important;
      margin-left: 10%;
      font-size: 3vmax !important;
    }
    input {
      padding: 2vmax !important;
      font-size: 3vmax !important;
    }
    .msg {
      color: orange !important;
    }
  }
}
