#background {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  overflow-x: hidden;
  z-index:-1 !important;

  .spacer {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 960/300;
  }

  .top-left-1 {
    width: 100%;
    position: absolute;
    left: -25%;
    margin-top: 0;
    z-index: 1;
    svg {
      top: 0;
      height: 100%;
      display: block;
    }
  }

  .bottom-left {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -20%;
    svg {
      top: 0;
      height: 100%;
      display: block;
    }
  }

  .top-left-2 {
    width: 100%;
    position: absolute;
    left: -10%;
    margin-top: 0;
    z-index: 0;
    svg {
      height: 100%;
      display: block;
    }
  }

  .top-right {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0px;
    svg {
      display: block;
      width: 150%;
      height: 100%;
    }
  }

  .bottom-right {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
    svg {
      display: block;
      width: 150%;
      height: 100%;
    }
  }
}


.footer-form-fix{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  #footer{
    width: calc(100vw - 102px);
    // margin-left: 5.1vmax;
  }
}


// .form-footer{
//   width: 94.88% !important;
//   margin-left: 5.1vmax;
// }

input:-webkit-autofill{
  -webkit-text-fill-color: #000 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.password-test{
  display: flex;
  align-items: center;
  .password-svg{
    height: 3vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(233	240	253)	;
    cursor: pointer;
    border-bottom: 1px solid $secondary-color;



    svg{
      color: gray;
      height: 2vh;
      width: 3.5vh;
      padding-right: 5px;
      margin: 0 !important;
      // height: 3.3rem !important;
      // right: 0;
      margin-right: 100px;
      position: relative;
  
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 750px){
  .password-test{
    .password-svg{
      height: 7vh;
      svg{
        margin-right: 10px;
      }
    }
  }
}
