.home {
  position: relative;
  align-self: center;
  width: 100%;
  // filter: brightness(20%);

  background: $body-color;
  transition: $tran-05;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  .category{
    display: flex;
    width: calc(100% - 88px);
    align-self: flex-end;
    min-height: 100vh;
  }
  .recent {
    flex-wrap: wrap;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 1.5vmax;
    margin-top: 1vmax;
    .recent-title {
      margin-left: 10px;
    }

    .recent-sets {
      display: flex;
      flex-wrap: wrap;
    }
    .set-card {
      transition: 0.3s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 18rem;
      margin: 10px;
      border-radius: 8px;
      padding: 10px;
      padding-left: 15px;
      font-size: 0.8rem;
      height: 9.5rem;
      .closed {
        opacity: 0;
        transition: $tran-03;

        overflow: hidden;
      }
      .open {
        transition: $tran-03;
        opacity: 1;
      }
      .title-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30%;
        .more-options {
          padding-right: 0.8vmax;
        }
      }
      .set-title {
        font-size: 1.5rem;
        transition: $tran-02;
      }

      .set-title.active {
        transition: $tran-02;
        font-size: 1.2rem;
      }
      .set-description {
        display: flex;
        align-items: flex-start;
        height: 50%;
      }
      .set-creator {
        height: 20%;
        display: flex;
        align-items: center;
        margin-bottom: 0.5vmin;
        .image {
          width: 10%;
          display: flex;
          align-items: center;
          margin-right: 0.5rem;

          img {
            border-radius: 5px;
            min-width: 100%;
            min-height: 100%;
          }
        }
        .creator-name {
          font-weight: 500;
          color: $text-color;
          transition: $tran-02;
          white-space: nowrap;
        }
        .set-institution {
          text-align: right;
          width: 50%;
        }
      }
    }
  }
  .set-card.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.home.open {
//   filter: blur(10px);
    filter: brightness(20%);
}
