// h1{
//     text-align: center;
// }
.create-section{
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    .create-header{
        display: flex;
        flex-direction: column;
        width: calc(100% - 88px);
        // width: 100%;
        align-items: center;
        justify-content: flex-start;
        .create-title{
            height: 10%;
        }
        .create-option{
            display: flex;
            align-self: flex-end;
            height: 75%;
            width: 100%;
            // width: calc(100% - 88px);
            justify-content: center;
            .create-set-option,
            .create-folder-option{
                flex-direction: column;
                display: flex;
                justify-content: center;
                width: 30%;
                margin: 0 30px;
                background-color: $sidebar-color;
                border-radius: 5px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);


                .option-svg{
                    display: flex;
                    justify-content: center;
                    height: 70%;
                    align-items: center;
                    svg{
                        color: #000;
                        height: auto;
                        width: 20vw;
                    }  
                }
                .option-title{
                    display: flex;
                    justify-content: center;
                    height: 20%;
                    color: black;
                    text-decoration: none;
                    h2{
                        font-size: 3rem;
                    }
                }
            }
            // .create-folder{
            //     display: flex;
            //     justify-content: center;
            //     background-color: green;
            //     width: 35%;
            //     border-radius: 5px;
            // }
        }
    }

    a{
        text-decoration: none;
        border: none;
    }

}


@media screen and (max-width: 1400px) {
    .create-header{
        h1{
            font-size: 1.9rem !important;
        }
        h2{
            font-size: 1.9rem !important;
        }

    }
    .create-set-option,
    .create-folder-option{
        width: 35% !important;
    }
}

@media screen and (max-width: 1000px) {

    .create-header{
        h1{
            font-size: 1.8rem !important;
        }
        margin-top: 40px;
        width: 100% !important;
        h2{
            font-size: 1.1rem !important;
        }
        .create-option{
            height: 60% !important;
            flex-wrap: wrap;
            .create-set-option,
            .create-folder-option{
                margin: 10px 0 !important;
                width: 70% !important;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .create-header{
        h1{
            font-size: 1.2rem !important;
        }
    }
}