.set-card {
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 18rem;
    // width: 18.5%;
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8rem;
    height: 9.5rem;
    .set-description.close,
    .set-institution.close {
        opacity: 0;
        transition: $tran-03;
        overflow: hidden;
    }
    .open {
        transition: $tran-03;
        opacity: 1;
    }
    .title-options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 27.5%;
        opacity: 1 !important;

        .more-options {
        padding-right: 0.8vmax;
        }
    }
    .set-title {
        font-size: 1.5rem;
        transition: $tran-02;
    }

    .set-title.open {
        transition: $tran-02;
        font-size: 1.2rem;
    }
    .set-description {
        display: flex;
        align-items: flex-start;
        height: 52.5%;
    }
    .set-creator {
        height: 20%;
        display: flex;
        align-items: center;
        margin-bottom: 0.5vmin;
        .image {
            width: 10%;
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
            img {
                border-radius: 5px;
                min-width: 100%;
                min-height: 100%;
            }
        }
        .creator-name {
            font-weight: 500;
            color: $text-color;
            transition: $tran-02;
            white-space: nowrap;
        }

        .set-institution {
            text-align: right;
            width: 55%;
            a{
                text-decoration: none;
                display: inline-block;
                background: $primary-color-light;
                padding: 5px;
                color:$text-color;
                border-radius: 5px;
            }
        }
    }

    .set-card.open {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      }
}

@media only screen and (max-width: 900px){
    .set-card{
        height: 11rem;
        width: 16rem ;
        .category-title{
            text-align: center;
            margin-left: 0;
        }
        .sets{
            justify-content: center;
        }
        .open {
            transition: $tran-03;
            opacity: 1;
          }
          .set-title {
            font-size: 1.2rem !important;
          }
          .set-title.active {
            transition: $tran-02;
            font-size: 1.2rem;
          }
    
    }

    .open {
      transition: $tran-03;
      opacity: 1;
    }
    .set-title {
      font-size: 1.2rem !important;
    }
    .set-title.active {
      transition: $tran-02;
      font-size: 1.2rem;
    }
    .close{
      opacity: 1 !important;
    }
}