.back-btn {
  position: absolute;
  top: 1.5vmax;
  left: 7.5vmax;
  cursor: pointer;
  svg {
    width: 2rem;
    color: gray;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .back-btn {
    top: 10vmax;
    left: 2vmax;
    svg {
      width: 1.6rem;
    }
  }
}
