.back-btn {
  position: absolute;
  top: 1.9vmax;
  left: 7vmax;
  cursor: pointer;
  z-index: 999;
  svg {
    width: 2rem;
    color: gray;
    height: auto;
    transition: 0.3s;
    &:hover {
      color: orange;
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1000px) {
  .back-btn {
    top: 10vmax;
    left: 2vmax;
    svg {
      width: 2rem;
    }
  }
}

.disabled {
  display: none;
}
