#mainPage {
  width: 100%;
  height: 100vh;
  #center-center {
    z-index: 5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1#header {
      margin: 1vmax !important;
      text-align: center;
      color: orange;
      font-size: 5vmax !important;
      font-weight: 900;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    h2#mainSubTitle {
      margin: 1vmax !important;
      text-align: center;
      color: orange;
      font-size: 2vmax !important;
      font-weight: 100;
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    #look-in {
      background: transparent !important;
      border: 1px solid orange !important;
      color: orange !important;
      animation: pulsateButton 1.5s infinite;
    }
    #look-in:hover {
      background: orange !important;
      border: 1px solid orange !important;
      color: white !important;
    }
  }
}
@-webkit-keyframes pulsateButton{
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}