.cookie-component {
  display: flex;
  // position: fixed;
  // min-width: 94%;
  // margin:0 10px;
  // justify-content: flex-start;
  justify-content: center;
  padding: 1vmax !important;

  z-index: 999;
  .test {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
    bottom: 0;

    width: calc(100% - 100px);
    // width: calc(100% - 200px);
    justify-content: space-around;
    background-color: #fff;
    flex-direction: row;
    box-shadow:
      0 19px 38px rgba(0, 0, 0, 0.3),
      0 15px 12px rgba(0, 0, 0, 0.22);
    position: fixed;
  }
  .cookieComponent__content {
    padding: 1vmax;
    padding-left: 10px;
  }
  button {
    width: 10vw !important;
  }
  .cookieComponent__button {
    display: flex;
    flex-direction: row;
    button {
      font-size: 12px;
    }
  }
}

.cookie-component.hide {
  display: none;
}

.normal {
  justify-content: center;
  .test {
    width: calc(100% - 100px);
  }
}

.flip {
  justify-content: flex-start;
  .test {
    width: calc(100% - 200px);
  }
}

.study {
  // justify-content: flex-start;
  .test {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 1000px) {
  .cookie-component {
    justify-content: center;

    .test {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      p {
        padding: 10px 0;
      }
    }
    .cookieComponent__content {
      padding: 0 10px;
    }
    button {
      width: 40vw !important;
      font-size: 2vmax !important;
      padding: 1vmax !important;
    }
  }
}
