.card-section {
  position: relative;
  align-self: center;
  width: 100%;
  min-height: 100vh;
  background: $body-color;
  transition: $tran-05;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .set-wrapper {
    flex-wrap: wrap;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 1.5vmax;
    color: $text-color;
    font-size: 1.75rem;
    margin-top: 1vmax;

    .category-title {
      width:95%;
      margin-bottom: 10px;
      display: flex;
      margin-left:1vmax !important;
      align-items: center;
      a {
        display: flex;
      }
      .btnWrapper {
        position: absolute;
        right: 1vmax;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        svg {
          width: 20px;
          margin: 0 5px;
          color: gray;
          cursor: pointer;
          transition: 0.3s;
        }
        svg:hover {
          color: orange;
        }
      }
      a:hover {
        cursor: pointer;
      }
      svg {
        width: 20px;
        margin: 5px 0 5px 20px;
        cursor: pointer;
        color: gray;
      }
      .delete {
        svg {
          width: 30px;
          color: gray;
        }
      }
    }

    .sets {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  .set-card.open {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

@media only screen and (max-width: 1000px) {
  .card-section {
    margin-top: 8vh;
  }
  .sets {
    justify-content: center;
    align-items: flex-start;
  }
  .explore {
    position: initial;
    .category {
      user-select: none;
      width: 100%;
    }
    .open {
      transition: $tran-03;
      opacity: 1;
    }
    .set-title {
      font-size: 1.2rem !important;
    }
    .set-title.active {
      transition: $tran-02;
      font-size: 1.2rem;
    }
    .close {
      opacity: 1 !important;
    }
  }
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  #footer {
    margin-top: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100% !important;
    flex-wrap: wrap;
    .col-2 {
      width: 80% !important;
      padding-top: 20px;
      margin: 0 !important;
      align-self: flex-start;
      justify-content: flex-start;
    }
    .social-media {
      margin-right: 0 !important;
    }
  }
}

// .news{
//   display: flex;
//   align-self: flex-end;
//   width: calc(100% - 88px);
//   justify-content: center;
//   .test{
//     @include orangeBackground;
//     height: 200px;
//     width: 450px;
//     margin: 40px;
//     border-radius: 10px;
//   }
// }
