.card-section {
  position: relative;
  align-self: center;
  width: 100%;

  background: $body-color;
  transition: $tran-05;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
 
  .set-wrapper {
    flex-wrap: wrap;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 1.5vmax;
    color: $text-color;
    font-size: 1.75rem;
    margin-top: 1vmax;
  
    .category-title {
      margin-left: 10px;
      margin-bottom: 10px;
    }

    .sets {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .set-card.open {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}



@media only screen and (max-width: 900px){
      
  .explore{
    position: initial;
    .category{
      width: 100%;

    }
    .set-card{
      width: 15rem !important;
    }
    .open {
      transition: $tran-03;
      opacity: 1;
    }
    .set-title {
      font-size: 1.2rem !important;
    }
    .set-title.active {
      transition: $tran-02;
      font-size: 1.2rem;
    }
    .close{
      opacity: 1 !important;
    }

  }
}


// .news{
//   display: flex;
//   align-self: flex-end;
//   width: calc(100% - 88px);
//   justify-content: center;
//   .test{
//     @include orangeBackground;
//     height: 200px;
//     width: 450px;
//     margin: 40px;
//     border-radius: 10px;  
//   }
// }

