.home{
    position: relative;
    align-self: center;
    width: calc(100% - 88px);
    background: var(--body-color);
    transition: var(--tran-05);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

    

    .recent{
        flex-wrap: wrap;
        display: flex;
        align-self: center;
        flex-direction: column;
        .recent-title{
            margin-left: 10px;
        }

        .recent-sets{
            display: flex;
            flex-wrap: wrap;

        }
        .set-card{
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 18rem;
            margin: 10px;
            border-radius: 8px;
            .closed{
                opacity: 0;
                overflow: hidden;
            }
            
        }
    }

    

    
}

.home.open{
    filter: blur(2px);
}