.submition {
    margin-top: 20px;
    display: flex;
    width: 100%;
    button{
        font-size: 1.5rem !important;
        padding: 15px !important;
    }
    
    justify-content: center;
}

.sets-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: left;            
    flex-direction: row;



    
    .select-set{
        background-color: white;
        display: flex;
        width: 31.6%;
        margin: 10px 10px;
        border-radius: 5px;
        height: 170px;
        padding: 0 10px;
        
        .select-set-wrapper{
            padding: 5px 0;
            width: 100%;
            .select-set-creator{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 25%;
                padding-bottom: 5px;
                .image{
                    width: 13%;
                    height: 100%;
                    img{
                        border-radius: 5px;
                        height: 100%; 
                    }
                }
                .creator-name{
                    width: 72%;
                    font-size: 13px;
                }
                .choose-btn{
                    width: 15%;
                    button{
                        height: 100%;

                        width: 45px;  
                    }
                }
            }
            .select-set-title{
                display: flex;
                height: 30%;
                padding-top: 5px;
            }
            .select-set-description{
                font-size: 13px;
                margin-top: 2px;
                height: 45%;
            }
        }
    }
    .choose-btn{
        display: flex;
        justify-content: center;
        width: 14%;
        button{
            width: 75.7%;
            font-size: 0.9rem !important;
            min-height: 2.2rem !important;
            
     
            margin: 5px 0 !important; 
        }
    }

}

.test{
    width: 100%;
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 1550px){
    .select-set{
        width: 31.3% !important;
    }
}
  
@media screen and (max-width: 1000px) {
    .sets-wrapper{
        justify-content: center;

        .image{
            margin-right: 0.3vmax !important;
            height: 70% !important;
        }
        button{
            font-size: 11px !important;
            min-height: 3vmax !important;
            // width: 25%;
        }
    }
    .submition {
        button{
            height: 100%;
            width: 50%;
            font-size: 1.5rem !important;
        }

    }
    
}
@media only screen and (max-width: 1350px){
    .select-set{
        width: 47% !important;
    }
}



@media only screen and (max-width: 850px){
    .select-set{
        width: 43% !important;
    }
}

@media only screen and (max-width: 600px){
    .select-set{
        width: 70% !important;
    }
}