// .study_wrapper {
//   display: flex;
//   justify-content: flex-start;
// }
.study-component {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 10vh 0;
  padding-left: 88px;

  .back-btn {
    position: absolute;
    top: 1.5vmax;
    left: 7.5vmax;
    cursor: pointer;
    svg {
      width: 2rem;
      color: gray;
      height: auto;
    }
  }

  .study-wrapper {
    top: 50%;
    display: flex;
    width: 80%;
    background-color: #fff;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    flex-direction: column;
    border-radius: 10px;
    // padding: 2vmax;
    #flashcard {
      background-color: transparent;
      box-shadow: none;
      padding: 0 !important;
      margin-top: 0 !important;
      .term {
        padding: 2vmax;

        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #f6f6f6;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          p {
            text-align: left !important;
            display: flex;
            flex-direction: column;
            img {
              margin-left: 10px;
              max-width: 50%;
            }
          }
          font-size: 35px !important;
        }
        .term-text {
          font-size: 20px;
        }
      }
    }
  }
  .answer-options {
    display: grid;
    padding: 2vmax 2vmax 1vmax 2vmax;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    width: 100%;

    .option {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;

      button {
        padding: 15px !important;
        width: 100%;
        border-radius: 10px !important;
        background-color: #fff !important;
        color: gray !important;
        border: 2px solid orange !important;
        p {
          img {
            border-radius: 5px;
            max-width: 70%;
            user-select: none;
            pointer-events: none;
            user-select: none !important;
            -webkit-user-drag: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
          }
        }
      }
    }

    @media screen and (min-width: 1000px) {
      .option {
        button {
          &:hover {
            background-color: orange !important;
            color: #fff !important;
            box-shadow: none;
          }
        }
      }
    }

    .correct {
      button {
        background-color: rgb(72, 182, 22) !important;
        color: #fff !important;
        border: none !important;
      }
      button:hover {
        background-color: rgb(72, 182, 22) !important;
      }
    }
    .incorrect {
      button {
        background-color: red !important;
        color: #fff !important;
        border: none !important;
      }
      button:hover {
        background-color: red !important ;
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  button {
    border-radius: 6px !important;
    width: 90%;
  }
}

.lvl-check {
  button {
    padding: 10px 0 !important;
    width: 19% !important;
  }
}

.button-wrapper {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .btn {
    padding: 0 2vmax;
    justify-content: center !important;
    width: 100% !important;
    button {
      margin: 10px !important;
      border-radius: 10px !important;
      width: 100% !important;
    }
  }
  .back-btn {
    position: absolute;
    top: 10vmax;
    left: 2vmax;
    svg {
      width: 1.6rem;
    }
  }
  .study-component {
    padding-left: 0;
    .study-wrapper {
      #flashcard {
        .term {
          p {
            align-items: center;
            font-size: 17px !important;
            // img {
            //   max-width: 100%;
            // }
          }
        }
      }
      button {
        padding: 10px 0 !important;
        font-size: 1.2rem !important;
      }
    }
  }

  .settings-study {
    right: 15px !important;
    bottom: 15px !important;
  }
}

.gonext {
  margin-bottom: 1vmax;
  justify-content: flex-end;
  width: 97%;
  button {
    width: 45%;
  }
}

.donkno {
  width: 53%;
  margin-bottom: 1vmax;
  button {
    border: none;
    background-color: #fff !important;
    color: gray !important;
  }
  button:active,
  button:focus {
    outline: 0 !important;
    border: none !important;
    box-shadow: none !important;
    -moz-outline-style: none !important;
  }
  button:hover {
    background-color: #fff !important;
    color: gray !important;
    box-shadow: none !important;
    text-decoration: underline !important;
  }
}

@media screen and (max-width: 768px) {
  .study-component {
    .study-wrapper {
      h3 {
        p {
          font-size: 25px;
        }
      }
      button {
        p {
          font-size: 15px;
        }
      }
      .answer-options {
        display: flex;
        flex-direction: column;

        width: 100%;
      }
      #flashcard {
        .term {
          border-bottom: 1px solid #ababab;
        }
      }
    }
  }
}
.lvl-check,
.free-input {
  padding: 20px;
  .donkno {
    display: contents !important;
  }
  .term {
    font-size: 30px;
    padding-left: 5px;
    p {
      display: flex;
      flex-direction: column;
    }
  }
  button {
    width: 19% !important;
  }
  .correct-answer {
    padding-left: 5px;
    padding: 5px;
    font-size: 20px;
    img {
      border-radius: 5px;
      width: 25%;
    }
  }

  .vert-flex {
    display: flex;
    flex-direction: row;
  }
  img {
    margin: 8px 0;
    border-radius: 5px;
    width: 25%;
  }
}

.lvl-check {
  p {
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 700px) {
  .lvl-check,
  .free-input {
    img {
      width: 100% !important;
    }
  }
}
.finished-view {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='70' height='78' viewport='0 0 100 100' style='fill:black;font-size:42px;'><text y='50%'>🚀</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
  padding: 20px;
  img {
    border-radius: 1vmax;
    user-select: none !important;
    pointer-events: none;
  }
}

.settings-study {
  display: block;
  position: fixed;
  bottom: 35px;
  right: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .msg-box {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 240px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    border: 2px solid orange;
    animation: box-shadow-animation 2s infinite;
    @keyframes box-shadow-animation {
      0% {
        box-shadow:
          0 1px 3px rgba(0, 0, 0, 0.12),
          0 1px 2px rgba(0, 0, 0, 0.24);
      }
      50% {
        box-shadow:
          0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
      100% {
        box-shadow:
          0 1px 3px rgba(0, 0, 0, 0.12),
          0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
    svg {
      justify-content: flex-end;
      width: 1.3rem;
      height: 1.3rem;
      color: gray;
    }
    p {
      // margin-top: 5px;
      font-size: 15px;
    }
  }
  svg {
    cursor: pointer;
    width: 50px;
    height: auto;
    color: $secondary-color;
    transition: 0.5s;
  }
  .open {
    svg {
      color: gray !important;
    }
  }
  .open:hover {
    svg {
      color: $secondary-color !important;
    }
  }
}

.settings-study {
  .settings-menu {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    //add box shadow when real colors
    width: 750px;
    background-color: $sidebar-color;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
    .title {
      margin-top: 15px;
    }
    .settings-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;
      span {
        max-width: 90%;
      }
    }
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 55px;
      height: 30px;
      background: grey;
      display: block;
      border-radius: 100px;
      position: relative;
    }

    label:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 21px;
      height: 21px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label {
      background: $secondary-color;
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 24px;
    }
  }
}

.free-input {
  padding: 20px;
  .term {
    font-size: 30px;
  }
}
#progressBar {
  transition: 1s ease-out;
  @include orangeBackground;
  height: 1vh;
  width: 10vw;
  position: fixed;
  top: 0;
  left: 0vw;
}
@media screen and (max-width: 1000px) {
  .finished-view {
    img {
      width: 70vw !important;
    }
    button {
      width: 100% !important;
    }
  }
  .lvl-check,
  .free-input {
    button {
      width: 97% !important;
    }
    .vert-flex {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  .free-input {
    input {
      height: 4vmax;
      font-size: 15px;
    }
    button {
      font-size: 15px !important;
      padding: 10px !important;
    }
  }
  .settings-study {
    .settings-menu {
      width: 250px !important;
    }
    .settings-option {
      justify-content: flex-start !important;
      span {
        display: none;
      }
    }
  }
}

//IsItCorrect
.IsItCorrect {
  padding: 20px;
  .flashcard {
    .title {
      font-size: 30px;
      padding-bottom: 15px;
    }
    .flashcard-term {
      font-size: 30px;
      font-weight: bold;
    }
    .flashcard-definition {
      font-size: 20px;
    }
    .flashcard-term,
    .flashcard-definition {
      padding-bottom: 20px;
      padding-left: 5px;
      img {
        border-radius: 5px;
        width: 25%;
      }
    }
  }
  .flashcard-answer {
    padding-left: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    img {
      border-radius: 5px;
      width: 25%;
    }
  }
  .flashcard-buttons {
    button {
      width: 19%;
    }
  }

  @media screen and (max-width: 1000px) {
    .flashcard-term,
    .flashcard-definition {
      img {
        width: 100% !important;
      }
    }
    .flashcard-buttons {
      button {
        width: 98% !important;
      }
    }
  }
}
