.category{
    display: flex;
    justify-content: center;
    .create-set-wrapper{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: skyblue;
        width: 60%;
        h1{
        display: flex;
        justify-content: left;
        font-weight: 600;
        }
        input{
            border-radius: 4px;
            margin: 0.4vmax 0 !important;
            height: 2.8vmax;

        }
        .title{
        display: flex;
        width: 100%;
        }

        .other-info{
            display: flex;
            align-items: center;
            textarea{
                resize: none;
                width: 50%;
                border-radius: 5px;
                outline: none;
                border: none;
                border-bottom: 1px solid red;
            }
            .description{
                height: 6.4vmax;
                margin-right: 6px;
            }
            .tags{
                margin-left: 6px;
                width: 50%;
                
                input{
                    margin: 0.4vmax 0;
                    height: 2.8vmax;
                }
            }
        }
    }
    .ReactTags__suggestions {
        position: absolute;
        width: 10%;
        height: auto;
        z-index: 1;
        background-color: #d9d9d9 !important;
        cursor: pointer;
        border-radius: 5px;
        ul{
            list-style: none;
           li{
            padding: 10px;
           }
           li:hover{
            background-color: #bfbfbf;
            border-radius: 5px;
           }

        }
    } 
}

.react-tags {
    position: relative !important;
  

  }

// position: absolute !important;
// width: 100% !important;
// z-index: 1 !important;
// 
