.category{
    display: flex;
    justify-content: center;
    .create-set-wrapper{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: skyblue;
        width: 60%;
        ::placeholder{
            font-size: 1.2rem;
        }
        h1{
        display: flex;
        justify-content: left;
        font-weight: 600;
        }
        input{
            border-radius: 4px;
            margin: 0.4vmax 0 !important;
            height: 2.8vmax;

        }
        .title{
        display: flex;
        width: 100%;
        }

        .other-info{
            display: flex;
            align-items: center;
            
            

            .description{
                height: 6.4vmax;
                margin-right: 6px;
                width: 50%;
                display: flex;
                justify-content: center;
                background-color: #fff;
                border-radius: 5px;
            }
            textarea{
                align-self: center;
                background-color: transparent;
                resize: none;
                width: 93%;
                height: 80%;
                border-radius: 5px;
                outline: none;
                border: none;
            }
            
            .tags{
                margin-left: 6px;
                width: 50%;
                
                input{
                    margin: 0.4vmax 0;
                    height: 2.8vmax;
                }
            }
        }
    }
    .ReactTags__suggestions {
        position: absolute;
        min-width: 10%;
        width: auto;
        height: auto;
        z-index: 1;
        background-color: #d9d9d9 !important;
        cursor: pointer;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        ul{
            list-style: none;
           li{
            padding: 10px;
           }
           li:hover{
            background-color: #bfbfbf;
            border-radius: 5px;
           }
        }
    }
    .ReactTags__tag{
        display: none;
    }
}



// position: absolute !important;
// width: 100% !important;
// z-index: 1 !important;
// 
