.ql-editor img {
  min-width: 5%;
  max-width: 30%;
}
.ql-tooltip.ql-editing a.ql-action::after {
  content: "Запази" !important;
  color: #f90 !important;
}
.ql-tooltip::before {
  content: "Линк:" !important;
}
.ql-tooltip[data-mode="formula"]::before {
  content: "Формула:" !important;
}
.ql-toolbar {
  border: none !important;
  border-radius: 5px !important;
  background-color: #fff !important;
  padding: 0 5px !important;
  margin: 0 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
  margin:1vmax;
  button {
    transform: scale(1.3);
  }
}
.ql-container {
  border:none !important;
  border-bottom:1px solid #f90 !important;
}
//if mobile
@media (max-width: 768px) {
  .ql-formats {
    display: flex !important;
    justify-content: space-between !important;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    width:100%;
    button {
      transform: scale(1.3);
    }
  }
  .ql-tooltip{
    width: 100%;
  display: flex;
  justify-content: center;
  }
}
