#flashcard {
    background-color: red;
    display: flex;
    padding: 25px 10px;
    margin: 7.5px 0;
    align-items: center;
    border-radius: 5px;
    position: relative;
    justify-content: space-between;
  
    .term {
      display: flex;
      width: 27%;
      justify-content: center;
    }
  
    .description::before {
        content: '';
        height: 80%;
        width: 1px;
        background-color: #000;
        margin: 0 28%;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0; 
        transform: translate(-50%, -50%);
      }
  
      .description {
        display: flex;
        justify-content: flex-start;
        width: 41.5%; // Default width
        margin-left: 35px;
    

      }
    
      .image {
        width: 30%;
      }
  }

#flashcard.no-image{
    .description{
      width: 72% !important;
    } 
}