#set-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 3vh;
  img{
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  .set-info {
    color:orange;
    padding: 1vmax;
    display: flex;
    align-self: center;
    width: 80%;
    flex-direction: column;
    background-color: $sidebar-color;
    justify-content: center;
    margin-bottom: 1vh;
    border-radius: 10px;
    margin-bottom: 5vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 3px solid $secondary-color;
    .set-title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap:wrap;
      margin-bottom: 5px;
      h1 {
        margin: 10px 15px 2px 15px;
        font-size: 3.5rem;
        width:95%;
        word-wrap: break-word;
      }

      .institution {
        display: flex;
        align-items: center;
        background: $primary-color-light;
        justify-self: center;
        border-radius: 5px;
        padding: 1vmax;
        margin-top: 5px;
        margin-right: 15px;
        align-self: center;
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: gray;
        }
      }
    }
    p {
      margin: 2.5px 15px;
    }
    .description {
      font-size: 1.1rem;
      color:gray;
      margin-bottom:2vmax;
      word-wrap: break-word;
    }

    .category {
      font-size: 1.2rem;
      color:gray;
    }

    .creator {
      margin-top: 10px;
      margin-bottom: 10px;
      color:gray;
    }

    .actions {
      margin: 2px 15px;
      display: flex;
      a {
        display: flex;
        align-items: center;
        margin-right: 6px;
        text-decoration: none;
        color:gray;
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.9rem;
        border: 3px solid orange;
        transition: 0.3s;
        &:hover {
          background-color:orange;
          color: white;
        }
        &:first-child {
        background:orange;
        color:white;
        }
        &:first-child:hover {
          background-color: white;
          color:orange;
        }
        svg {
          margin-right: 5px;
          font-size: 20px;
        }
      }

      .rotate {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
  .cards-info {
    width: 60%;
  }
}
