#set-page {
  select {
    border: 1px solid orange !important;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  margin-top: 3vh;
  min-height: 100vh;

  .category {
    color: gray;
    font-size: 1.1rem;
    background-color: #f5f5f5;
    width: auto;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding: 0.8vmax;
  }
  .hrz-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-left: 1vmax;
  }
  .set-info {
    padding: 1vmax;
    display: flex;
    align-self: center;
    width: 80%;
    flex-direction: column;
    background-color: $sidebar-color;
    justify-content: center;
    margin-bottom: 1vh;
    border-radius: 10px;
    margin-bottom: 5vh;
    box-shadow:
      0 3px 6px rgba(0, 0, 0, 0.16),
      0 3px 6px rgba(0, 0, 0, 0.23);
    border: 3px solid orange;

    .set-title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 5px;
      h1 {
        margin: 10px 15px 2px 15px;
        font-size: 2.2rem;
        word-break: break-all;
      }

      .institution {
        display: flex;
        align-items: center;
        background: $primary-color-light;
        justify-self: center;
        border-radius: 5px;
        padding: 0.7vmax;
        margin-right: 5px;
        align-self: center;
        a {
          font-size: 1.3rem;
          text-decoration: none;
          color: gray;
        }
      }
    }

    p {
      margin: 2.5px 15px;
      word-break: break-all;
    }
    .description {
      font-size: 1.1rem;
      color: gray;
    }
    .category {
      font-size: 0.8rem;
      color: gray;
      padding: 5px !important;
      margin: 0.3vmax;
    }

    .creator {
      margin-top: 10px;
      margin-bottom: 10px;
      color: gray;
    }

    .actions {
      margin: 2px 15px;
      display: flex;
      flex-wrap: wrap;
      a {
        margin: 0.3vmax;
        display: flex;
        align-items: center;
        margin-right: 6px;
        text-decoration: none;
        color: white;
        border: 3px solid orange;
        background-color: orange;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.9rem;
        cursor: pointer;
        svg {
          margin-right: 5px;
          font-size: 20px;
        }
      }

      a:hover:not(a:first-child),
      .addFolder a:hover {
        background-color: white;
        color: orange;
      }
      .study {
        background: rgb(254, 140, 0) !important;
        background: linear-gradient(
          222deg,
          rgba(254, 140, 0, 1) 0%,
          rgba(248, 54, 0, 1) 100%
        ) !important;
        border: none;
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0px 20px rgb(255, 70, 29);
        }
      }
      .rotate {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
  .cards-info {
    width: 60%;
    .cards-info-header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      h2 {
        width: 75%;
      }
      select {
        border-radius: 5px;
        height: auto !important;
        width: auto;
        font-size: 1rem;
        padding: 0.5vmax;
      }
    }
  }
}

.hvr {
  transition: 0.3s;
  cursor: pointer;
}
.hvr:hover {
  color: orange;
}
.loadingBanner {
  font-size: 3vmax !important;
  color: gray !important;
  margin-top: 10vh;
  text-align: center;
}

.folder-popup {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid orange;
  color: #000;
  width: 275px;
  position: absolute;
  padding: 7px;
  border-radius: 5px;
  max-height: 250px;
  overflow-y: auto;

  // background-color: rgb(224 230 246);
  background-color: #fff;
  z-index: 999;

  .folder-title {
    box-shadow:
      rgba(255, 94, 0, 0.4) 4px 4px,
      rgba(255, 94, 0, 0.4) 8px 9px;

    padding: 10px;
    border: 1px solid #ababab;
    border-radius: 5px;
    margin: 0 !important;
    cursor: pointer;
    font-size: 1em;
    margin: 5px 5px 12px 0 !important;
  }
}

@media screen and (max-width: 800px) {
  #set-page {
    a:hover {
      background-color: orange;
      color: white;
    }
    .set-info {
      .set-title {
        h1 {
          font-size: 1.6rem;
        }
        a {
          font-size: 1.4rem !important;
        }
      }
      .description {
        font-size: 1rem;
      }
      .category {
        font-size: 1.1rem;
      }

      .actions {
        flex-wrap: wrap;
        a {
          width: 47%;
          margin: 3px;
          font-size: 0.8rem;
        }

        .addFolder {
          display: flex;
          width: 47%;
          margin: 3px;
        }

        .addFolder a {
          width: 100%;
          margin: 0 !important;
        }
      }
    }
  }

  .folder-popup {
    margin-top: 70px;
  }
  .cards-info {
    width: 80% !important;
    h2 {
      width: 65% !important;
      font-size: 1.1rem;
    }
    select {
      font-size: 1.1rem !important;
    }
  }
}

@media screen and (max-width: 400px) {
  #set-page {
    .set-info {
      width: 90% !important;
      .set-title {
        h1 {
          font-size: 1.3rem;
        }
        a {
          font-size: 0.9rem !important;
        }
      }
      .description {
        font-size: 0.9rem;
      }
      .category {
        font-size: 1rem;
      }

      .actions {
        flex-wrap: wrap;
        a {
          width: 100% !important  ;
          margin: 3px;
          font-size: 0.8rem;
        }

        .addFolder {
          display: flex;
          width: 100%;
          margin: 3px;
        }

        .addFolder a {
          width: 100%;
          margin: 0 !important;
        }
      }
    }
    .cards-info {
      width: 90% !important;
      h2 {
        font-size: 0.8rem;
        width: 65% !important;
      }
      select {
        margin: 0;
        height: 100%;
        padding: 5px 0;
        font-size: 0.9rem !important;
      }
    }
  }
  .folder-popup {
    margin-top: 50px;
    max-width: 65vw;
  }
}

.settings {
  display: block;
  position: fixed;
  bottom: 35px;
  right: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  svg {
    cursor: pointer;
    width: 50px;
    height: auto;
    color: orange;
  }
}

.settings {
  .settings-menu {
    //add box shadow when real colors
    width: 200px;
    background-color: $sidebar-color;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    .title {
      margin-bottom: 15px;
    }
    .settings-option {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0;
    }
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 55px;
      height: 30px;
      background: grey;
      display: block;
      border-radius: 100px;
      position: relative;
    }

    label:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      width: 21px;
      height: 21px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label {
      background: #bada55;
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 24px;
    }
  }
}
.spacialFlex {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  * {
    color: gray;
    font-size: 1.7vmax !important;
  }
}
.miniReport {
  color: gray;
  font-size: 2vmax;
}

// centering
// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }
