@use "./app-common/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

$body-color: #e4e9f7;
$sidebar-color: #fff;
$primary-color: #695cfe;
$primary-color-light: #f6f5ff;
$toggle-color: #ddd;
$text-color: #707070;
$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;

body {
  animation: fadein 1s;
  overflow-y: scroll !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-animation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-end;
  transition: $tran-03;
  .content {
    width: calc(100% - 88px);
  }
}
.container.open {
  // filter: blur();
  transition: $tran-03;
}

@media only screen and (max-width: 1000px) {
  .container {
    justify-content: center;
    .content {
      width: 100%;
    }
  }
}
@mixin centerContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: white;
  padding: 1vmax;
  border-radius: 0.2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@mixin orangeBackground {
  background: linear-gradient(234deg, #ff4e00, #ec9f05);
  background-size: 400% 400%;

  -webkit-animation: OrangeGradient 50s ease infinite;
  -moz-animation: OrangeGradient 50s ease infinite;
  animation: OrangeGradient 50s ease infinite;

  @-webkit-keyframes OrangeGradient {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @-moz-keyframes OrangeGradient {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @keyframes OrangeGradient {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
}

::selection {
  background-color: $secondary-color;
  color: white;
}
//fix this because it breaks search bar
//most of this code is for the forms and it is not needed here
input {
  width: 100%;
  height: 3vmax;
  margin: 1vmax 0;
  padding: 0 1vmax;
  font-size: 1.4vmax;
  border: 0;
  border-bottom: 1px solid $secondary-color;
  font-weight: 500;

  &:focus {
    outline: none;
    border-bottom: 1px solid $secondary-color;
  }
}
input[type="submit"] {
  width: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  font-weight: 500;
  width: 100%;
  height: 3vmax;
  margin: 1vmax 0;
  padding: 0 1vmax;
  border-radius: 3px;
  font-size: 1.5vmax;
  border: 0;
  border-radius: 0;
  background-color: white;
  border: 1px solid orange;
  &:focus {
    outline: none;
  }
}

.disabled {
  color: gray;
}
button:not(#RFS-StepButton, button[type="button"]),
input[type="submit"] {
  user-select: none !important;
  transition: 0.2s;
  min-height: 2.5vmax;
  cursor: pointer;
  min-height: 2.5vmax;
  margin: 0.5vmax;
  padding: 0.5vmax;
  border-radius: 0.2em;
  font-size: 1.2vmax;
  background-color: $secondary-color;
  color: #fff;
  border: none;
  word-break: keep-all;
  &:focus {
    outline: none;
    border: 1px solid $secondary-color;
  }
  //if disabled
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
    &:hover {
      box-shadow: none;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
div {
  word-break: break-word;
}

button:hover:not(#RFS-StepButton, button[type="button"]),
input[type="submit"]:hover {
  box-shadow: 0 0 5px 2px $secondary-color;
}

#backgroundForm {
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  overflow-x: hidden;
  margin-bottom: -5vmax;

  .spacer {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 960/300;
  }

  .top-left-1 {
    width: 100%;
    position: absolute;
    left: -25%;
    margin-top: 0;
    z-index: 1;
  }

  .top-left-1 svg {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .bottom-left {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -20%;
  }

  .bottom-left svg {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .top-left-2 {
    width: 100%;
    position: absolute;
    left: -10%;
    margin-top: 0;
    z-index: 0;
  }

  .top-left-2 svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .top-right {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0px;
  }

  .top-right svg {
    display: block;
    width: 150%;
    height: 100%;
  }

  .bottom-right {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
  }

  .bottom-right svg {
    display: block;
    width: 150%;
    height: 100%;
  }
}
svg.single {
  color: gray;
  width: 4vw !important;
  height: 4vh !important;
}

#wrapperForm {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
    font-size: 3vmax;
    color: $secondary-color;
    font-weight: 700;
  }

  form {
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 1.5vmax;
    z-index: 1;

    .error {
      border-bottom: 2px solid $secondary-color;
      color: $secondary-color;
    }
    .step-title {
      font-size: 20px;
    }
    .stepper button {
      cursor: initial;
      &:hover {
        box-shadow: none;
      }
    }

    .stepper .active {
      background-color: $secondary-color;
    }

    .stepper .completed {
      background-color: $secondary-color;
    }
    .checkboxes {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      input {
        width: 7%;
        margin-left: 10px;
        cursor: pointer;
      }
      .privacy-policy,
      .terms-and-conditions,
      .marketing-consent {
        display: flex;
        width: 90%;
        justify-content: space-between;
        input[type="checkbox"] {
          width: 4%;
          accent-color: $secondary-color;
        }
        //make the checkmarkwhite
        input[type="checkbox"]:checked:after {
          background-color: white;
        }
        label {
          width: 100%;
        }
      }
    }
  }
}
.errorText {
  color: red;
  font-weight: 300;
}

@media screen and (max-width: 1000px) {
  .errorText {
    font-size: 1.6vmax;
  }
}

@media screen and (orientation: portrait) {
  .link {
    font-size: 2vmax !important;
  }
  svg.single {
    width: 6vw !important;
    height: 6vh !important;
  }
  #wrapperForm {
    .title {
      padding: 2vmax;
      font-size: 4vmax;
    }
    input {
      font-size: 2.5vmax;
      height: 7vh;
    }
    select {
      font-size: 2.5vmax;
      height: 7vh;
    }
    form {
      padding: 2.5vmax;
      width: 90vw;
    }
    #buttonWrapper {
      button {
        width: 100%;
        font-size: 2.5vmax;
        height: 7vh;
      }
    }
  }
}
a {
  color: black;
  transition: 0.3s;
  &:hover {
    color: $secondary-color;
  }
}
.link {
  background: transparent;
  color: $secondary-color;
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: auto;
  transition: 0.3s;
  font-size: 1.2vmax;
  &:hover {
    cursor: pointer;
    color: $secondary-color !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ReactTags__suggestions {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: red !important;
}
