* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: 0.3s;
}

#root{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}
@mixin centerContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: white;
  padding: 1vmax;
  border-radius: 0.2em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
}
@mixin orangeBackground {
  background: linear-gradient(234deg, #ff4e00, #ec9f05);
  background-size: 400% 400%;

  -webkit-animation: OrangeGradient 50s ease infinite;
  -moz-animation: OrangeGradient 50s ease infinite;
  animation: OrangeGradient 50s ease infinite;

  @-webkit-keyframes OrangeGradient {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @-moz-keyframes OrangeGradient {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
  @keyframes OrangeGradient {
    0% {
      background-position: 0% 79%;
    }
    50% {
      background-position: 100% 22%;
    }
    100% {
      background-position: 0% 79%;
    }
  }
}
