@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  animation: fadein 1s;
}
::selection{
  background-color: #ec9f05;
  color: white;
}
input {
  width: 100%;
  height: 3vmax;
  margin: 1vmax 0;
  padding: 0 1vmax;
  font-size: 1.4vmax;
  border: 0;
  border-bottom: 1px solid orange;
  font-weight:500;

  &:focus {
    outline: none;
    border-bottom: 1px solid orange;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  font-weight:500;
  width: 100%;
  height: 3vmax;
  margin: 1vmax 0;
  padding: 0 1vmax;
  border-radius: 3px;
  font-size: 1.5vmax;
  border: 0;
  border-radius: 0;
  background-color: white;
  border-bottom: 1px solid orange;
  &:focus {
    outline: none;
    border-bottom: 1px solid orange;
  }
}

.disabled {
  color: gray;
}
button, input[type="submit"] {
  transition: 0.2s;
  height: 3vmax;
  cursor: pointer;
  margin: 0.5vmax;
  padding: 0 1vmax;
  border-radius: .2em;
  font-size: 1.5vmax;
  background-color: #ec9f05;
  color: #fff;
  border: none;
  &:focus {
    outline: none;
    border: 1px solid #ec9f05;
  }
}

button:hover, input[type="submit"]:hover {
  box-shadow: 0 0 5px 2px orange; /* Adjust the alpha value for transparency */
}

#backgroundForm {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;
  position: relative;
  overflow-x: hidden;

  .spacer {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 960/300;
  }

  .top-left-1 {
    width: 100%;
    position: absolute;
    left: -25%; /* Adjust this value based on your design */
    margin-top: 0; /* Reset margin-top */
    z-index: 1;
  }

  .top-left-1 svg {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .bottom-left {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -20%;
  }

  .bottom-left svg {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .top-left-2 {
    width: 100%;
    position: absolute;
    left: -10%; /* Adjust this value based on your design */
    margin-top: 0; /* Reset margin-top */
    z-index: 0;
  }

  .top-left-2 svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  .top-right {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0px !important;
  }

  .top-right svg {
    display: block;
    width: 150%;
    height: 100%;
  }

  .bottom-right {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0px !important; /* Adjust this value based on your design */
  }

  .bottom-right svg {
    display: block;
    width: 150%;
    height: 100%;
  }
}
#wrapperForm {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
    font-size: 3vmax;
    color: #ec9f05;
    font-weight: 700;
  }

  form {
    min-width: 27.5vw;
    background-color: white;
    border-radius: 4%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 1vmax;
    z-index: 1;

    .error {
      border-bottom: 2px solid red;
      color: red;
    }
    .step-title {
      font-size: 20px;
    }
    .stepper button {
      cursor: initial;
      &:hover {
        box-shadow: none;
      }
    }

    .stepper .active {
      background-color: #ec9f05;
    }

    .stepper .completed {
      background-color: #ec9f05;
    }
  }
}
.errorText{
  color:red;
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}