.set-wrapper {
  flex-wrap: wrap;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-left: 1.5vmax;
  color: $text-color;
  font-size: 1.75rem;
  margin-top: 1vmax;

  .category-title {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.category-wrapper{
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  flex-wrap: wrap;
  .category-btn{
    padding:10px;
    border: 2px solid $secondary-color;
    margin: 5px;
    border-radius: 7.5px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    color: $text-color;
    background-color: #fff;
  }
  .category-btn:hover{
    transition: 0.3s;
    background-color: $secondary-color;
    color: #fff;
  }
}
@media screen and (max-width: 1550px) {
  .set-wrapper {
    margin-right: 0 !important;

  }
  
}

@media only screen and (max-width: 1000px){
  .set-wrapper{
      margin-left: 0 !important;
      margin-right: 0 !important;
      .category-title{
        text-align: center;
        margin-left: 0 !important;
      }
      justify-content: center;
    }
}