.main-page{
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
  }

body .main-page.open {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), /* your background color or image here */;
}