.folders{
    .folder-card{
        box-shadow: rgba(255, 94, 0, 0.4) 4px 4px, rgba(255, 94, 0, 0.4) 8px 9px, rgba(255, 94, 0, 0.4) 12px 12px;
    }
    svg{
        padding-top: 5px;
        margin-right: 3px;
    }
    .add-folder{
        box-shadow: rgba(255, 94, 0, 0.4) 4px 4px, rgba(255, 94, 0, 0.4) 8px 9px, rgba(255, 94, 0, 0.4) 12px 12px;

    }
}